####################################################################################
# Platform specific settings. The current ones are for the Coursera platform.
####################################################################################
# Version of the autograder
# Starting November 18, 2020, version 2 must be used for all new graders. This setting
# was added to be able to support graders running on other platforms.
COURSERA_AUTOGRADER_VERSION=2

# Directory with student solution file (platform-specific).
DIR_SUBMISSION=/shared/submission/

# Settings for version 2
# Path to json file in which the test report is saved (platform-specific).
PATH_TO_REPORT_FILE=/shared/feedback.json

####################################################################################
# Grader settings.
####################################################################################

# To turn off debug mode, set the variable value to 0.
DEBUG=1

# The absolute path to the grader root directory.
# Important! An absolute path must be specified.
ROOT_DIR=$PWD

# Directory with tests (the relative path from the directory with the sub grader
# is indicated)
TESTS_DIR=tests/

# The name of the file with the success score
SCORE_LOGFILE=score.log

# The name of the log file is a comment to the test results. Typically used to display
# error tracebacks, describe test cases, hints, statistics, etc.
FEEDBACK_LOGFILE=feedback.log

# Command to run grader tests
TEST_RUN_COMMAND="python3 execute.py"

# Minimum score points
MIN_SCORE=0

# Maximum score points
MAX_SCORE=1

####################################################################################
# Settings for debug mode.
####################################################################################

# Directory with student's solution file in debug mode
DEBUG_DIR_SUBMISSION=$ROOT_DIR/shared/submission

# Settings for version 2
# Path to json file in which the test report is saved in debug mode.
DEBUG_PATH_TO_REPORT_FILE=$ROOT_DIR/shared/feedback.json
